*, *::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}

body{
    color: #343a40;
}

.primary-heading{
    font-size: 3rem;
    text-align: center;
    margin-top: 2rem;
}

.form{
    width: 30%;
    margin: 2rem auto;
    padding: 2rem;
}

.form .form__label{
    font-size: 2.5rem;
    font-weight: 500;
    padding: 1rem 0;
    display: inline-block;
    margin-bottom: .3rem;
}

.form .form__input{
    width: 100%;
    padding: 1rem;
    outline: none;
    font-size: 1.7rem;
    font-weight: 400;
    color: inherit;
}

.form .form__button{
    margin-top: 2rem;
    padding: 1.5rem 4rem;
    font-size: 1.6rem;
    background-color: #343a40;
    color: #fff;
    border: none;
    border-radius: .5rem;
}

.form .error-message{
    font-size: 2rem;
    text-align: center;
    color: #f59f00;
    margin: 1rem 0;
}

.valid{
    border: 1px solid #0ca678;
}

.error{
    border: 1px solid #f03e3e;
}
